@import 'main';

.component-counter {
  > label {
    display: block;
    margin-bottom: __space(1);
  }

  > .add-button {
    margin-top: __space(1);
    background-color: #cc2616;
    color: white;

    &:active {
      opacity: .5;
    }
  }
}
